@if (chart(); as c) {
  <figure class="kundli-chart" [attr.aria-label]="c.name + ' kundli chart'">
    @if (chartStyle() === 'north') {
      <svg viewBox="0 0 400 400" role="img">
        <title>{{ c.name }} north Indian chart</title>
        <path class="chart-fill" d="M20 20H380V380H20Z" />
        <path class="chart-line strong" d="M20 20H380V380H20Z" />
        <path class="chart-line" d="M20 20L380 380M380 20L20 380" />
        <path class="chart-line strong" d="M200 20L380 200L200 380L20 200Z" />
        <path class="chart-line" d="M20 20L200 200L380 20M380 380L200 200L20 380" />

        @for (house of houses(); track house.house) {
          <g class="house" [attr.transform]="'translate(' + house.x + ' ' + house.y + ')'">
            <text class="house-number" x="0" y="-24">H{{ house.house }}</text>
            <text class="sign-label" x="0" y="-7" [attr.fill]="house.signColor">
              {{ house.signLabel }}
            </text>
            @for (entry of house.entries; track entry; let i = $index) {
              <text
                class="planet-line"
                x="0"
                [attr.y]="10 + i * 13"
              >
                {{ entry }}
              </text>
            }
          </g>
        }
      </svg>
    } @else {
      <svg viewBox="0 0 400 400" role="img">
        <title>{{ c.name }} south Indian chart</title>
        <path class="chart-fill" d="M0 0H400V400H0Z" />
        <path class="chart-line strong" d="M0 0H400V400H0Z" />
        <path class="chart-line" d="M100 0V400M200 0V100M200 300V400M300 0V400M0 100H400M0 200H100M300 200H400M0 300H400" />

        @for (cell of southCells(); track cell.sign) {
          <g
            class="south-cell"
            [attr.transform]="'translate(' + (cell.x + 50) + ' ' + (cell.y + 50) + ')'"
          >
            <text class="house-number corner-label top-left" x="-42" y="-36">H{{ cell.house }}</text>
            @for (entry of cell.entries; track entry; let i = $index) {
              <text
                class="planet-line"
                x="0"
                [attr.y]="-12 + i * 12"
              >
                {{ entry }}
              </text>
            }
            <text class="sign-label corner-label bottom-right" x="38" y="32" [attr.fill]="cell.signColor">
              {{ cell.signLabel }}
            </text>
          </g>
        }
      </svg>
    }
  </figure>
}
